<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="style.index.css" />
        <title>Title</title>
    </head>
    <body>

        <header>
            <h1>Another Awesome Project</h1>
        </header>
        
        <button><a href="/beep">Big Red Button</a></button>
        
        
        <p>OH Yeah</p>
        <ul>
          <li>one</li>
          <li>two</li>
        
        </ul>

        <script src="Index.js"></script>

        
        
        
        
    </body>
</html>
